TELEGRAM_BOT_TOKEN=
TENOR_API_TOKEN=
TENOR_BASE_URI=https://api.tenor.com/v1/random?key=QSYEGUZAX1Y4&media_filter=minimal&ar_range=standard&q=master%again&limit=10
WIKIPEDIA_BASE_URI=https://en.wikipedia.org/w/api.php?action=query&format=json
GOOGLE_BASE_URI=https://www.googleapis.com/customsearch/v1?key=AIzaSyDC0Om0JIeonsOzzGTUQOxesmQMXGT5ug8&cx=d5bcecbe52c3c7ccc&q=